"use client";

import "@/styles/docs.css";

const readme = `{{readme}}`;

export default function Page() {
  return <div className="shadriz-container">
    <aside className="shadriz-sidebar">
      <p>v{{version}}</p>
      <ul>
        {{#each toc}}
        {{this}}
        {{/each}}
      </ul>
    </aside>
    <div className="shadriz-docs" dangerouslySetInnerHTML={ { __html: readme } }>
    </div>
  </div>;
}
