* {
  margin: 0;
  padding: 0;
}
.shadriz-docs h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 20px;
}
.shadriz-docs h2 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
}
.shadriz-docs h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.shadriz-docs p {
  margin-bottom: 20px;
}
.shadriz-docs pre {
  background-color: lightgray;
  padding: 20px;
  margin-bottom: 20px;
  overflow: scroll;
}
.shadriz-docs code {
  background-color: lightgray;
}
.shadriz-docs ul {
  margin-bottom: 20px;
}
.dark .shadriz-docs pre {
  background-color: #111827;
}
.dark .shadriz-docs code {
  background-color: #111827;
}
.shadriz-docs a {
  text-decoration: underline;
  font-weight: bold;
}
