import { Table2Icon, GaugeIcon } from "lucide-react";

import Link from "next/link";

const items = [
  { title: "Admin", url: "/admin", icon: GaugeIcon },
  // [CODE_MARK admin-sidebar-items]
];

export function AdminSidebar() {
  return (
    <div className="flex flex-col text-sm min-w-40 max-w-40 bg-primary-foreground fixed min-h-screen z-10 top-8 border-r">
      {items.map((item) => (
        <Link
          key={item.title}
          href={item.url}
          className="flex items-center gap-1 p-1 hover:bg-muted"
        >
          <item.icon className="flex-shrink-0 w-4 h-4" />
          <span>{item.title}</span>
        </Link>
      ))}
    </div>
  );
}