import { auth } from "@/lib/auth";

export default async function Page() {
  const session = await auth();

  return (
    <div className="p-2">
      <h1 className="font-bold">Profile</h1>
      <strong>Email:</strong> {session?.user?.email}
    </div>
  );
}
