import { Button } from "@/components/ui/button";
import { signOut } from "@/lib/auth";

export default function Page() {
  return (
    <div className="flex min-h-screen justify-center items-center">
      <div className="flex flex-col gap-2 items-center border rounded p-5 max-w-xs">
        <h5>Are you sure you want to sign out?</h5>
        <form
          action={async (formData) => {
            "use server";
            await signOut({ redirectTo: "/" });
          }}
        >
          <Button type="submit">Sign out</Button>
        </form>
      </div>
    </div>
  );
}
