export default function Page() {
  return (
    <div className="flex h-screen w-screen justify-center items-center">
      <div>
        Run the <code className="bg-gray-200">npx shadriz auth -h</code> command
        to set up Auth.js.
      </div>
    </div>
  );
}
