import { AdminLoginForm } from "@/components/admin-login/admin-login-form";

export default async function Page() {
  return (
    <div className="flex min-h-screen justify-center items-center">
      <AdminLoginForm />
    </div>
  );
}
