        <div className="flex flex-col gap-2">
          <Label>{{validatedColumn.caseVariantsWithId.singularCapitalCase}}</Label>
          <GenericSelect
            list={ {{validatedColumn.caseVariants.singularCamelCase}}List }
            name="{{validatedColumn.caseVariantsWithId.singularCamelCase}}"
            placeholder="Select {{validatedColumn.caseVariants.singularCapitalCase}}"
            valueField="id"
            labelField="id"
          />
        </div>