        <div>
          <Label className="mr-2">{{columnCases.originalCamelCase}}</Label>
          <Checkbox name="{{columnCases.originalCamelCase}}" />
          {state.errors?.{{columnCases.originalCamelCase}}?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>