        <div className="flex flex-col gap-2">
          <Label>{{columnCases.singularCapitalCase}} Id</Label>
          <GenericSelect
            list={ {{columnCases.singularCamelCase}}List }
            name="{{columnCases.singularCamelCase}}Id"
            placeholder="Select {{columnCases.singularCapitalCase}}"
            valueField="id"
            labelField="id"
          />
        </div>