        <div>
          <Label>{{columnCases.originalCamelCase}}</Label>
          <Input type="file" name="{{columnCases.originalCamelCase}}" />
          {state.errors?.{{columnCases.originalCamelCase}}?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>