        <div>
          <Label className="mr-2">{{validatedColumn.caseVariants.originalCapitalCase}}</Label>
          <Checkbox name="{{validatedColumn.caseVariants.originalCamelCase}}" />
          {state.errors?.{{validatedColumn.caseVariants.originalCamelCase}}?.map((error) => (
            <p className="text-destructive" key={error}>{error}</p>
          ))}
        </div>