        <div>
          <Label>{{columnCases.singularCamelCase}}Id</Label>
          <Input name="{{columnCases.singularCamelCase}}Id" />
          {state.errors?.{{columnCases.singularCamelCase}}Id?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>