        <div>
          <Label>{{column}}_id</Label>
          <Input name="{{column}}_id" defaultValue={ data.{{column}}_id ?? "" } />
          {state.errors?.{{column}}_id?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>