        <div>
          <Label>{{column}}</Label>
          <div>
            <Link href={data.{{column}} ?? ""}>{data.{{column}} ?? ""}</Link>
          </div>
          <Input type="file" name="{{column}}" />
        </div>