        <div>
          <Label>{{tableObj.singularSnakeCase}}_id</Label>
          <Input name="{{tableObj.singularSnakeCase}}_id" defaultValue={ data.{{tableObj.singularSnakeCase}}_id ?? "" } />
          {state.errors?.{{tableObj.singularSnakeCase}}_id?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>