        <div>
          <Label>{{column}}</Label>
          <Checkbox name="{{column}}" defaultChecked={ data.{{column}} ?? false } />
          {state.errors?.{{column}}?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>