        <div>
          <Label>{{column}}</Label>
          <Input name="{{column}}" defaultValue={ data.{{column}}?.toISOString() ?? "" } />
          {state.errors?.{{column}}?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>