{{#layout}}
  <div class="container mx-auto">
    <div class="flex">
      <div
        class="shadriz-sidebar scrollbar-custom p-5 sticky h-screen overflow-auto top-0 hidden sm:block w-screen sm:min-w-[300] sm:max-w-[300]"
      >
        <div class="shadriz-logo">v{{version}}</div>
        <ul>
          {{#each toc}}
            {{this}}
          {{/each}}
        </ul>
      </div>
      <div class="shadriz-docs">
        {{docsHtml}}
      </div>
    </div>
  </div>
{{/layout}}