{{#layout}}

  <div class="fixed top-50 right-1 p-4 cursor-pointer z-[9999] block sm:hidden">
    <button id="menu-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-square-menu"
      ><rect width="18" height="18" x="3" y="3" rx="2" />
        <path d="M7 8h10" /><path d="M7 12h10" />
        <path d="M7 16h10" />
      </svg>
    </button>
  </div>

  <div class="container mx-auto">
    <div class="flex">
      <div
        class="shadts-sidebar scrollbar-custom p-5 sticky h-screen overflow-auto top-0 hidden sm:block w-screen sm:min-w-[300] sm:max-w-[300]"
      >
        <div class="shadts-logo">v{{version}}</div>
        <ul>
          {{#each toc}}
            {{this}}
          {{/each}}
        </ul>
      </div>
      <div class="shadts-docs">
        {{docsHtml}}
      </div>
    </div>
  </div>
{{/layout}}