<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shadrizz</title>
    <link rel="stylesheet" href="output.css" />
    <script src="app.js"></script>
  </head>
  <body>
    <header class="container mx-auto flex justify-between p-5">
      <div class="flex gap-5">
        <a href="https://www.shadrizz.com" class="font-bold text-gray-500">
          sh<span class="text-white">a</span>dr<span class="text-white">i</span>zz
        </a>
      </div>
      <div class="flex gap-5 items-center">
        {{!-- <a href="/changelog">
          Changelog
        </a> --}}
        <a href="/">
          Docs
        </a>
        <a href="/ai">
          AI
        </a>
        <a href="https://www.github.com/shadrizz/shadrizz">
          <img height="20" width="20" src="https://cdn.simpleicons.org/github/white" />
        </a>
      </div>
    </header>

    {{body}}

    <footer class="container mx-auto flex justify-center p-5 border-t">
      <p>&copy; 2025 shadrizz</p>
    </footer>
  </body>
</html>