<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P5ST5C4R8W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-P5ST5C4R8W');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shadrizz</title>
    <link rel="stylesheet" href="output.css" />
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/a11y-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/typescript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/bash.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <header class="container mx-auto flex justify-between p-5">
      <div class="flex gap-5">
        <a href="/" class="font-bold font-mono">
          sh<span class="underline">a</span>dr<span class="underline">i</span>zz docs
        </a>
      </div>
      <div class="flex gap-5 items-center">
        {{!-- <a href="/changelog">
          Changelog
        </a> --}}
        <a href="/ai">
          AI
        </a>
        <a href="https://www.shadrizz.com">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
        </a>
        <a href="https://www.github.com/shadrizz/shadrizz">
          <img height="24" width="24" src="https://cdn.simpleicons.org/github/white" />
        </a>
      </div>
    </header>

    {{body}}

    <footer class="container mx-auto flex justify-center p-5 border-t">
      <p>&copy; 2025 shadrizz</p>
    </footer>
  </body>
</html>