@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}
a {
  text-decoration: none;
}
.shadriz-sidebar ul li {
  list-style-type: none;
}
.shadriz-sidebar ul li a {
  color: black;
  &:hover {
    text-decoration: underline;
  }
}
.shadriz-sidebar ul li.level-1 a {
  font-weight: bold;
  color: black;
}
.shadriz-sidebar ul li.level-2 {
  margin-top: 20px;
}
.shadriz-sidebar ul li.level-2 a {
  color: black;
}
.shadriz-sidebar ul li.level-3 a {
  color: #71717a;
}
.shadriz-docs {
  min-width: 0px;
  padding: 20px;
  height: 100%;
}
.shadriz-docs a {
  color: black;
}
.shadriz-docs h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 20px;
}
.shadriz-docs h2 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.shadriz-docs h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.shadriz-docs p {
  margin-bottom: 20px;
}
.shadriz-docs pre {
  background-color: #d4d4d8;
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
  border-radius: 5px;
}
.shadriz-docs code {
  background-color: #d4d4d8;
}
.shadriz-docs ul {
  margin-bottom: 20px;
}
.shadriz-docs ul li {
  list-style-type: disc;
  margin-left: 20px;
}
.shadriz-docs a {
  text-decoration: underline;
  font-weight: bold;
}
.shadriz-docs table {
  border-spacing: 0;
  border-collapse: collapse;
}
.shadriz-docs table th {
  padding: 5px;
  border: 1px solid #71717a;
}
.shadriz-docs table td {
  padding: 5px;
  border: 1px solid #71717a;
}
.shadriz-menu {
  padding: 20px;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  gap: 5px;
}
.shadriz-menu button {
  background-color: black;
  color: white;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.shadriz-menu #menu-btn {
  display: none;
}
.shadriz-logo {
  margin-bottom: 20px;
}
/* Add these styles in your global CSS file */
.scrollbar-custom {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgb(102, 102, 102) rgb(66, 66, 66); /* Thumb color, Track color */
}

/* Webkit browsers (Chrome, Edge, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
  height: 8px; /* Scrollbar height for horizontal scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgb(76, 76, 76); /* Track color */
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77); /* Thumb color */
  border-radius: 4px;
  border: 2px solid rgb(89, 89, 89); /* Space between thumb and track */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #111316; /* Darker thumb on hover */
}
@media only screen and (max-width: 768px) {
  .shadriz-menu #menu-btn {
    display: block;
  }
  .shadriz-container {
    display: flex;
    flex-direction: column;
  }
  .shadriz-sidebar {
    display: none;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .shadriz-sidebar.active {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  .shadriz-sidebar {
    background-color: black;
  }
  .shadriz-docs pre {
    background-color: #334155;
  }
  .shadriz-docs code {
    background-color: #334155;
  }
  .shadriz-sidebar ul li a {
    color: white;
  }
  .shadriz-sidebar ul li.level-3 a {
    color: dark#71717a;
  }
  body {
    background-color: black;
    color: white;
  }
  .shadriz-menu button {
    color: black;
    background-color: white;
  }
  .shadriz-docs a {
    color: white;
  }
  .shadriz-sidebar ul li.level-1 a {
    color: white;
  }
  .shadriz-sidebar ul li.level-2 a {
    color: white;
  }
  .shadriz-sidebar ul li.level-3 a {
    color: #94a3b8;
  }
}
