import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { hasActiveSubscription } from "@/lib/access";
import { auth } from "@/lib/auth";
import { db } from "@/lib/db";
import { orders, products, subscriptions } from "@/schema/stripe";
import { users } from "@/schema/users";
import { RocketIcon } from "@radix-ui/react-icons";
import { eq } from "drizzle-orm";
import { Metadata } from "next";
import Link from "next/link";
import { redirect } from "next/navigation";

export const metadata: Metadata = {
  title: "Account",
};

export default async function Page() {
  const session = await auth();

  if (!session?.user?.id) {
    redirect("/signin");
  }

  const orderList = await db
    .select()
    .from(orders)
    .innerJoin(products, eq(orders.productId, products.id))
    .innerJoin(users, eq(users.id, orders.userId))
    .where(eq(users.id, session.user.id));

  if (!session) {
    redirect("/signin");
  }

  const activeSubscription = await hasActiveSubscription(session.user.id!);

  const subscription = await db.query.subscriptions.findFirst({
    where: eq(subscriptions.userId, session.user.id!),
  });

  return (
    <div className="max-w-4xl m-auto p-5 flex flex-col gap-5">
      <h1 className="font-retro uppercase">Subscription</h1>
      <Card>
        <CardHeader>
          <CardTitle className="font-retro uppercase text-sm">
            Subscription Status
          </CardTitle>
        </CardHeader>
        <CardContent className="flex flex-col gap-5">
          {activeSubscription && (
            <div className="flex gap-5">
              <Badge className="bg-green-400">Subscription Active</Badge>
              <div>Expires: {subscription?.endDate.toLocaleDateString()}</div>
            </div>
          )}
          {subscription && !activeSubscription && (
            <div className="flex gap-5">
              <Badge className="bg-red-400">Subscription</Badge>
              <div>Expired: {subscription.endDate.toLocaleDateString()}</div>
            </div>
          )}
        </CardContent>
      </Card>
      {subscription && (
        <Card>
          <CardHeader>
            <CardTitle className="font-retro uppercase text-sm">
              Manage Subscription
            </CardTitle>
          </CardHeader>
          <CardContent>
            <form action="/api/customer_portal" method="POST">
              <Button type="submit">Customer Portal</Button>
            </form>
          </CardContent>
        </Card>
      )}
      <Card>
        <CardHeader>
          <CardTitle className="font-retro uppercase text-sm">
            Order History
          </CardTitle>
        </CardHeader>
        <CardContent>
          {orderList.length > 0 ? (
            <Table>
              <TableHeader>
                <TableRow>
                  <TableHead>Product</TableHead>
                  <TableHead>Description</TableHead>
                  <TableHead>Total</TableHead>
                  <TableHead>Date</TableHead>
                </TableRow>
              </TableHeader>
              <TableBody>
                {orderList.map((d) => (
                  <TableRow key={d.orders.id}>
                    <TableCell>{d.products.name}</TableCell>
                    <TableCell>{d.products.description}</TableCell>
                    <TableCell>
                      {d.orders.amountTotal &&
                        (d.orders.amountTotal / 100).toLocaleString("en-US", {
                          style: "currency",
                          currency: "USD",
                        })}
                    </TableCell>
                    <TableCell>{d.orders.createdAt.toLocaleDateString()}</TableCell>
                  </TableRow>
                ))}
              </TableBody>
            </Table>
          ) : (
            <div className="flex flex-col gap-5">
              No active subscriptions.
              <Link href="/pricing">
                <Button>
                  <RocketIcon className="w-4 h-4 mr-2" /> Upgrade to a Pro Plan
                </Button>
              </Link>
            </div>
          )}
        </CardContent>
      </Card>
    </div>
  );
}
