"use client";

import { Table2Icon, LayoutDashboardIcon } from "lucide-react";
import Link from "next/link";
import { cn } from "@/lib/utils";
import { usePathname } from "next/navigation";

const items = [
  { title: "Dashboard", "url": "/dashboard", icon: LayoutDashboardIcon },
// [CODE_MARK private-sidebar-items]
];

export function PrivateSidebar() {
  const pathname = usePathname();

  return (
    <div className="flex flex-col text-sm min-w-40 max-w-40 fixed min-h-screen z-10 top-8 border-r">
      {items.map((item) => (
        <Link
          key={item.title}
          href={item.url}
          className={cn(
            "flex items-center gap-1 p-1 hover:bg-primary-foreground m-1 rounded",
            pathname === item.url && "bg-muted"
          )}
        >
          <item.icon className="flex-shrink-0 w-4 h-4" />
          <span>{item.title}</span>
        </Link>
      ))}
    </div>
  );
}
