<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shadriz</title>
  <link rel="stylesheet" href="style.css">
  <script src="app.js"></script>
</head>
<body>
  <div class="shadriz-container">
    <div class="shadriz-menu"><button id="dark-btn">Dark</button> <button id="menu-btn">Menu</button></div>
    <div class="shadriz-sidebar">
      <p>v{{version}}</p>
      <ul>
        {{#each toc}}
        {{this}}
        {{/each}}
      </ul>
    </div>
    <div class="shadriz-docs">
        {{readme}}
    </div>
  </div>
</body>
</html>