* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  color: #18181b;
}
a {
  text-decoration: none;
}
.shadriz-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.shadriz-sidebar {
  min-width: 300px;
  padding: 20px;
  position: sticky;
  height: 100vh;
  overflow: auto;
  top: 0;
}
.shadriz-sidebar ul li {
  list-style-type: none;
}
.shadriz-sidebar ul li a {
  color: #18181b;
  &:hover {
    text-decoration: underline;
  }
}
.shadriz-sidebar ul li.level-1 a {
  font-weight: bold;
  color: #18181b;
}
.shadriz-sidebar ul li.level-2 {
  margin-top: 20px;
}
.shadriz-sidebar ul li.level-2 a {
  color: #18181b;
}
.shadriz-sidebar ul li.level-3 a {
  color: #71717a;
}
.shadriz-docs {
  min-width: 0px;
  padding: 20px;
  height: 100%;
}
.shadriz-docs a {
  color: #18181b;
}
.shadriz-docs h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 20px;
}
.shadriz-docs h2 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.shadriz-docs h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.shadriz-docs p {
  margin-bottom: 20px;
}
.shadriz-docs pre {
  background-color: #d4d4d8;
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
  border-radius: 5px;
}
.shadriz-docs code {
  background-color: #d4d4d8;
}
.shadriz-docs ul {
  margin-bottom: 20px;
}
.shadriz-docs ul li {
  list-style-type: disc;
  margin-left: 20px;
}
.shadriz-docs a {
  text-decoration: underline;
  font-weight: bold;
}
.shadriz-docs table {
  border-spacing: 0;
  border-collapse: collapse;
}
.shadriz-docs table th {
  padding: 5px;
  border: 1px solid #71717a;
}
.shadriz-docs table td {
  padding: 5px;
  border: 1px solid #71717a;
}
.shadriz-menu {
  padding: 20px;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  gap: 5px;
}
.shadriz-menu button {
  background-color: #18181b;
  color: #fafafa;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.shadriz-menu #menu-btn {
  display: none;
}
.shadriz-logo {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .shadriz-menu #menu-btn {
    display: block;
  }
  .shadriz-container {
    display: flex;
    flex-direction: column;
  }
  .shadriz-sidebar {
    display: none;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .shadriz-sidebar.active {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  .shadriz-sidebar {
    background-color: #18181b;
  }
  .shadriz-docs pre {
    background-color: #334155;
  }
  .shadriz-docs code {
    background-color: #334155;
  }
  .shadriz-sidebar ul li a {
    color: #fafafa;
  }
  .shadriz-sidebar ul li.level-3 a {
    color: dark#71717a;
  }
  body {
    background-color: #18181b;
    color: #fafafa;
  }
  .shadriz-menu button {
    color: #18181b;
    background-color: #fafafa;
  }
  .shadriz-docs a {
    color: #fafafa;
  }
  .shadriz-sidebar ul li.level-1 a {
    color: #fafafa;
  }
  .shadriz-sidebar ul li.level-2 a {
    color: #fafafa;
  }
  .shadriz-sidebar ul li.level-3 a {
    color: #94a3b8;
  }
}
