"use client";

import "@/styles/docs.css";

const readme = `{{readme}}`;

export default function Page() {
  return <div className="shadriz-docs flex flex-col sm:flex-row">
      <ul className="w-full sm:w-1/3">
        {{#each toc}}
        {{this}}
        {{/each}}
      </ul>
      <div className="w-full sm:w-2/3" dangerouslySetInnerHTML={ { __html: readme } }>
      </div>
  </div>;
}
