"use client";

import "@/styles/docs.css";

const readme = `{{readme}}`;

export default function Page() {
  return <div className="container shadriz-docs">
      <div dangerouslySetInnerHTML={ { __html: readme } }>
      </div>
  </div>;
}
