import Link from "next/link";

export function Footer() {
  return (
    <footer className="w-full border-t">
      <div className="container flex mx-auto h-14 items-center justify-center">
        <Link
          href="https://www.shadrizz.com"
          className="underline"
          target="_blank"
        >
          www.shadrizz.com
        </Link>
      </div>
    </footer>
  );
}
