import { BaseFormState } from "@/lib/types";
import { Alert, AlertDescription, AlertTitle } from "./ui/alert";

export function FormAlert({ state }: { state: BaseFormState }) {
  return (
    <div>
      {state.message && state.status === "success" && (
        <Alert>
          <AlertTitle>Success</AlertTitle>
          <AlertDescription>{state.message}</AlertDescription>
        </Alert>
      )}
      {state.message && state.status === "error" && (
        <Alert variant="destructive">
          <AlertTitle>Error</AlertTitle>
          <AlertDescription>{state.message}</AlertDescription>
        </Alert>
      )}
      {state.message && state.status === undefined && (
        <Alert>
          <AlertDescription>{state.message}</AlertDescription>
        </Alert>
      )}
    </div>
  );
}
