import { BlendingModeIcon } from "@radix-ui/react-icons";
import { ModeToggle } from "@/components/mode-toggle";

export default function Header() {
  return (
    <header>
      <div className="container mx-auto px-6 py-4 flex justify-between items-center">
        <div className="flex items-center">
          <BlendingModeIcon className="mr-2" />
          <a href="/" className="font-bold">
            shadriz
          </a>
        </div>
        <div>
          <a href="/docs" className="mr-4">
            Docs
          </a>
          <a href="/pricing" className="mr-4">
            Pricing
          </a>
          <a
            href="/dashboard"
            className="mr-4"
          >
            Dashboard
          </a>
          <a href="/signin">
            Sign In
          </a>
          <div className="ml-5 inline-block">
            <ModeToggle />
          </div>
        </div>
      </div>
    </header>
  );
}
