import { ModeToggle } from "@/components/mode-toggle";
import Link from "next/link";

export default function Header() {
  return (
    <header>
      <div className="container mx-auto px-6 py-4 flex justify-between items-center">
        <div className="flex items-center">
          <Link href="/" className="font-bold">
            shadriz
          </Link>
        </div>
        <div>
          <Link href="https://www.shadriz.com" className="mr-4">
            Docs
          </Link>
          {{#if opts.stripeEnabled}}
          <Link href="/pricing" className="mr-4">
            Pricing
          </Link>
          {{/if}}
          {{#if opts.authEnabled}}
          <Link
            href="/dashboard"
            className="mr-4"
          >
            Dashboard
          </Link>
          {{/if}}
          {{#if opts.adminEnabled}}
          <Link
            href="/admin"
            className="mr-4"
          >
            Admin
          </Link>
          {{/if}}
          {{#if opts.authEnabled}}
          <Link href="/signin">
            Sign In
          </Link>
          {{/if}}
          <div className="ml-5 inline-block">
            <ModeToggle />
          </div>
        </div>
      </div>
    </header>
  );
}
