import * as React from "react";

import { cn } from "@/lib/utils";

const ResponsiveTable = React.forwardRef<
  HTMLTableElement,
  React.HTMLAttributes<HTMLTableElement>
>(({ className, ...props }, ref) => (
  <div className="relative w-full overflow-auto h-[calc(100vh-120px)]">
    <table
      ref={ref}
      className={cn("w-full caption-bottom text-sm", className)}
      {...props}
    />
  </div>
));
ResponsiveTable.displayName = "Table";

export { ResponsiveTable };
