import { auth } from "@/lib/auth";
import { redirect } from "next/navigation";
import { AdminSidebar } from "@/components/admin/admin-sidebar";
import { db } from "@/lib/db";
import { eq } from "drizzle-orm";
import { {{userObj.pluralCamelCase}} } from "@/schema/{{userObj.pluralKebabCase}}";
import { isAdmin } from "@/services/authorization-service";
import { AdminHeader } from "@/components/admin/admin-header";

export default async function Layout({
  children,
}: {
  children: React.ReactNode;
}) {
  const session = await auth();

  if (!session?.user?.id) {
    redirect("/admin-login");
  }

  if (!isAdmin(session)) {
    redirect("/admin-login");
  }

  const userObj = await db.query.{{userObj.pluralCamelCase}}.findFirst({
    where: eq({{userObj.pluralCamelCase}}.id, session.user.id),
  });

  if (!userObj) {
    redirect("/admin-login");
  }

  return (
    <div>
      <AdminHeader user={userObj} />
      <div>
        <AdminSidebar />
        <div className="flex flex-col ml-40">
          <div className="mt-8">{children}</div>
        </div>
      </div>
    </div>
  );
}

export const dynamic = "force-dynamic";
