import { auth, signOut } from "@/auth";
import { Avatar, AvatarFallback, AvatarImage } from "@/components/ui/avatar";
import { hasAdminRole } from "@/lib/authorization";
import {
  AvatarIcon,
  BlendingModeIcon,
  DashboardIcon,
  ExitIcon,
} from "@radix-ui/react-icons";
import { redirect } from "next/navigation";

export default async function Layout({
  children,
}: {
  children: React.ReactNode;
}) {
  const session = await auth();

  if (!session?.user?.id) {
    redirect("/admin-login");
  }

  const isAdmin = await hasAdminRole(session.user.id);

  if (!isAdmin) {
    redirect("/admin-login?error=Unauthorized");
  }

  return (
    <div>
      <header>
        <div className="bg-muted mx-auto px-6 py-4 flex justify-between items-center">
          <div className="font-bold flex items-center">
            <BlendingModeIcon className="mr-2" /> <a href="/">shadriz</a>
          </div>
          <div>
            <Avatar>
              <AvatarImage src={session.user?.image ?? undefined} />
              <AvatarFallback>
                <AvatarIcon className="w-8 h-8" />
              </AvatarFallback>
            </Avatar>
          </div>
        </div>
      </header>

      <div className="flex">
        <aside className="min-w-40 max-w-sm px-5 bg-muted min-h-screen">
          <nav className="py-8">
            <ul>
              <li className="mb-4">
                <a
                  href="/admin"
                  className="flex items-center gap-2 font-semibold"
                >
                  <DashboardIcon /> Admin
                </a>
              </li>
              <li className="mb-4">
                <form
                  action={async () => {
                    "use server";
                    await signOut({ redirectTo: "/" });
                  }}
                >
                  <button
                    type="submit"
                    className="flex items-center gap-2 font-semibold"
                  >
                    <ExitIcon /> Sign Out
                  </button>
                </form>
              </li>
            </ul>
          </nav>
        </aside>
        <main className="p-5 w-full">{children}</main>
      </div>
    </div>
  );
}
