import { auth, signOut } from "@/auth";
import { Avatar, AvatarFallback, AvatarImage } from "@/components/ui/avatar";
import {
  AvatarIcon,
  BackpackIcon,
  BlendingModeIcon,
  DashboardIcon,
  ExitIcon,
  GearIcon,
  PersonIcon,
} from "@radix-ui/react-icons";
import { redirect } from "next/navigation";

export default async function Layout({
  children,
}: {
  children: React.ReactNode;
}) {
  const session = await auth();
  if (!session) {
    redirect("/signin");
  }
  return (
    <div>
      <header className="bg-muted">
        <div className="mx-auto px-6 py-4 flex justify-between items-center">
          <div className="font-bold flex items-center">
            <BlendingModeIcon className="mr-2" /> <a href="/">shadriz</a>
          </div>
          <div>
            <Avatar>
              <AvatarImage src={session.user?.image ?? undefined} />
              <AvatarFallback>
                <AvatarIcon className="w-8 h-8" />
              </AvatarFallback>
            </Avatar>
          </div>
        </div>
      </header>

      <div className="flex">
        <aside className="min-w-40 max-w-sm px-5 bg-muted min-h-screen">
          <nav className="py-8">
            <ul>
              <li className="mb-4">
                <a
                  href="/dashboard"
                  className="flex items-center gap-2 font-semibold"
                >
                  <DashboardIcon className="flex-shrink-0" /> Dashboard
                </a>
              </li>
              <li className="mb-4">
                <a
                  href="/profile"
                  className="flex items-center gap-2 font-semibold"
                >
                  <PersonIcon className="flex-shrink-0" /> Profile
                </a>
              </li>
              <li className="mb-4">
                <a
                  href="/settings"
                  className="flex items-center gap-2 font-semibold"
                >
                  <GearIcon className="flex-shrink-0" /> Settings
                </a>
              </li>
              <li className="mb-4">
                <a
                  href="/account"
                  className="flex items-center gap-2 font-semibold"
                >
                  <BackpackIcon className="flex-shrink-0" /> Account
                </a>
              </li>
              <li className="mb-4">
                <form
                  action={async () => {
                    "use server";
                    await signOut({ redirectTo: "/" });
                  }}
                >
                  <button
                    type="submit"
                    className="flex items-center gap-2 font-semibold"
                  >
                    <ExitIcon className="flex-shrink-0" /> Sign Out
                  </button>
                </form>
              </li>
            </ul>
          </nav>
        </aside>
        <main className="p-5 w-full">{children}</main>
      </div>
    </div>
  );
}
