import { eq } from "drizzle-orm";
import { redirect } from "next/navigation";
import { db } from "@/lib/db";
import { auth } from "@/lib/auth";
import { PrivateSidebar } from "@/components/private/private-sidebar";
import { {{userObj.pluralCamelCase}} } from "@/schema/{{userObj.pluralKebabCase}}";
import { PrivateHeader } from "@/components/private/private-header";

export default async function Layout({
  children,
}: {
  children: React.ReactNode;
}) {
  const session = await auth();

  if (!session?.user?.id) {
    redirect("/signin");
  }

  const userObj = await db.query.{{userObj.pluralCamelCase}}.findFirst({
    where: eq({{userObj.pluralCamelCase}}.id, session.user.id),
  });

  if (!userObj) {
    redirect("/signin");
  }

  return (
    <div>
      <PrivateHeader user={userObj} />
      <div>
        <PrivateSidebar />
        <div className="flex flex-col ml-40">
          <div className="mt-8">{children}</div>
        </div>
      </div>
    </div>
  );
}

export const dynamic = "force-dynamic";
